html {
    background-color: #ce9;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    max-width: 62em;
    line-height: 1.3;
    margin: 1em auto;
    padding: 1em;
    border: 6px solid #9cd520;
    border-radius: 30px;
}

@media (max-width: 66em) {
    body {
        max-width: none;
        width: auto;
        border-left: none;
        border-right: none;
        margin: 1em 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

p {
    text-indent: 3ch;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.7rem;
    color: #690;
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
}

h3 {
    font-size: 1.3rem;
    color: #690;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

h4 {
    font-size: medium;
    color: #690;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

#title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #9cd520;
    text-shadow: 1px 1px 0 #681;
}

#menu {
    text-align: center;
}

#lastupdated {
    background-color: #efc;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0 2em 0;
    border: 1px solid #9cd520;
    border-left-width: 10px;
}

#lastupdated > p {
    text-indent: -1rem;
}

#lastupdated > p:nth-of-type(n+2) {
    font-size: small;
    color: #666;
}

a {
    text-decoration: none;
    color: #00f;
}

a.anchor {
    font-size: 0.8em;
}

a:not(.anchor):hover {
    text-decoration: underline;
}

a:visited {
    color: #93c;
}

code {
    font-size: large;
    background-color: #eee;
    padding-left: 0.15em;
    padding-right: 0.15em;
}

details {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #eee;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

details > summary {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

details.warning {
    border: 1px solid #c00;
    border-radius: 15px;
    background-color: #fdd;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

details.warning > summary {
    color: #c00;
}

details.warning > summary::before {
    content: "⚠ ";
    color: #c00;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

dt + dt {
    margin-top: 0;
}

dd {
    margin-inline-start: 2ch;
    margin-top: 0.2em;
    text-indent: 2ch;
}

span[title] {
    border-bottom: #000 dashed 1px;
    cursor: help;
}

.image {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.important {
    color: #c00;
}

.alert {
    border: 1px solid #c00;
    border-radius: 15px;
    background-color: #fdd;
    padding: 0.5rem;
    color: #c00;
}

